$silver	: #e5e5e3;


/*GALAXY S5*/
@media screen and (min-device-width: 300px) and (max-device-width: 680px ) {
	body{
		max-width: 480px !important;
		margin: 0 auto !important;
		float: none !important;
	}
	.logo{
		width: 150px !important;
		height: 100px !important;
		overflow: hidden !important;
		margin-left: 2px !important;
		overflow: hidden !important;
		transition : 0.7s;

		img{
			width: 170px !important;
		}
	}

	nav{
		display: none;
		ul{
			width: 100%;
			margin: 0;
			padding: 0;
			float: left;
			display: block;
			background-color: #fff;
		}
		li{
			width: 100%;
			height: 50px !important;
			border-bottom: 1px solid $silver;
		}
		a{
			width: 100% !important;
			display: inline-block !important;
			text-align: center !important;
			color : black !important;
			padding: 10px 0px 10px 0!important;
		}
	}
	#header-button {
		display: none;
		width: 100%;
		height: 20px;
		float: left;
		background-color:  #fff;
		text-align: center;

		button {
			display: inline-block;
			margin : auto;
		}
	}

	#icon-bar-responsive {
		display: block !important;
		position: absolute;
		top: 35px;
		left: 300px !important;
	}

	#main-container{
		max-width: 480px !important;
		height: 100%;
		margin: 1% !important;
		padding-right: auto !important;
		padding-left: auto !important;
	  	padding-top: 130px !important; 
	  	position: relative;
	  	overflow: hidden;
	  	
	  	.ad{
	  		width: 305px !important;
	  		display: inline-block;
	  		margin-left: -10% !important;

	  		img{
	  			overflow: hidden;
	  		}

	  		h3{
	  			margin-left: 50px;
	  			font-size: 14px !important;
	  		}
	  	}

	  	.card{
	  		display: inline-block;
	  		margin-left: -6% !important;
	  		margin-right: auto !important;

	  		.main-card{
	  			padding-left: 20px;
	  			padding-right: 20px;
	  		}
	  	}
	  	.footer-card{
	  		padding-left: 20px !important;
	  	}
	}
}

/*NEXUS SX , NEXUS 6P*/
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
	#main-container{
		max-width: 732px !important;
		height: 100%;
		margin: 1% !important;
		padding-right: auto !important;
		padding-left: auto !important;
	  	padding-top: 12px; 
	  	position: relative;
	  	overflow: hidden;
	  
	  	.card{
	  		display: inline-block;
	  		margin-left: 8% !important;
	  		margin-right: auto !important;
	  	}
	}

	#icon-bar-responsive {
		left : 350px !important;
	}

	#main-container {

		.card{
			margin-left: -5px !important;
		}
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 800px) {
	nav{
		display: none;

		ul{
			width: 100%;
			margin: 0;
			padding: 0;
			float: left;
			display: block;
			background-color: #fff;
		}
		li{
			width: 100%;
			height: 50px !important;
			border-bottom: 1px solid $silver;
		}
		a{
			width: 100% !important;
			display: inline-block !important;
			text-align: center !important;
			color : black !important;
			padding: 10px 0px 10px 0!important;
		}
	}
	#header-button {
		display: none;
		width: 100%;
		height: 20px;
		float: left;
		background-color:  #fff;
		text-align: center;

		button {
			display: inline-block;
			margin : auto;
		}
	}

	#icon-bar-responsive {
		display: block !important;
		position: absolute;
		top: 30px;
		left: 700px !important;
	}

	#main-container{
		
		.card{
			display: inline-block;
			margin-left: 5% !important;
		}
		.ad{
			margin-left: 5% !important;
		}
	}

}

@media only screen and (min-device-width : 800px) and (max-device-width : 980px) {
	nav{
		display: none;
		ul{
			width: 100%;
			margin: 0;
			padding: 0;
			float: left;
			display: block;
			background-color: #fff;
		}
		li{
			width: 100%;
			height: 50px !important;
			border-bottom: 1px solid $silver;
		}
		a{
			width: 100% !important;
			display: inline-block !important;
			text-align: center !important;
			color : black !important;
			padding: 10px 0px 10px 0!important;
		}
	}
	#header-button {
		display: none;
		width: 100%;
		height: 20px;
		float: left;
		background-color:  #fff;
		text-align: center;

		button {
			display: inline-block;
			margin : auto;
		}
	}

	#icon-bar-responsive {
		display: block !important;
		position: absolute;
		top: 30px;
		left: 720px !important;
	}
}

@media only screen and (min-device-width : 780px) and (max-device-width: 1080px ){
	nav{
		display: none;
		ul{
			width: 100%;
			margin: 0;
			padding: 0;
			float: left;
			display: block;
			background-color: #fff;
		}
		li{
			width: 100%;
			height: 50px !important;
			border-bottom: 1px solid $silver;
		}
		a{
			width: 100% !important;
			display: inline-block !important;
			text-align: center !important;
			color : black !important;
			padding: 10px 0px 10px 0!important;
		}
	}
	#header-button {
		display: none;
		width: 100%;
		height: 20px;
		float: left;
		background-color:  #fff;
		text-align: center;

		button {
			display: inline-block;
			margin : auto;
		}
	}

	#icon-bar-responsive {
		display: block !important;
		position: absolute;
		top: 30px;
		left: 920px !important;
	}
}


